name: Test Tag and Export
on:
  workflow_dispatch:
permissions:
  contents: read
  pull-requests: read

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      BIT_CLOUD_ACCESS_TOKEN: ${{ secrets.BIT_CLOUD_ACCESS_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Initialize Bit
        uses: bit-tasks/init@v1
        with:
            ws-dir: 'test-data'
      - name: Creating a bare scope
        run: mkdir org.scope-name && cd org.scope-name && bit init --bare
      - name: Start the server and test
        run: cd org.scope-name && bit start --port 4000 --no-browser & sleep 200 && curl http://localhost:4000 
      - name: Add remote scope
        run: cd test-data && bit remote add http://localhost:4000     
      - name: Bit Tag and Export
        uses: bit-tasks/tag-export@main
